{% for author in site.data.authors %}



<div class="row">
  <div class="medium-4 columns" id="{{ author[1].shortname }}">
    <p><img src="{{ site.urlimg }}team/{{ author[1].img }}" height="200" width="200" alt=""></p>
  </div>
  <div class="medium-8 columns">
  <a href="{{ author[1].uri }}" target="_blank"> {{ author[1].name }}</a>
  <br>
  <p>{{ author[1].projectrole }}</p>
  <p>{{ author[1].workgroup }}<br>
  {{ author[1].affiliation }}<br>
  {{ author[1].email }}</p>
  
  
  <p>Teilprojekte: 
  {% for subproject in  author[1].subprojects %}
    {% capture title %}
	{{ subproject.title | replace: "ÖP", "OP" }}
    {% endcapture %}
    <a href="{{ site.url }}{{ site.baseurl }}/pages/de/ueber-natur-40/{{ subproject.url }}#{{ title }}" target="_blank">{{ subproject.title }}</a>
	{% unless forloop.last %}, {% endunless %}
  {% endfor %}
  </p>
  </div>
</div>

{% endfor %}
