<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "position": "top",
  "static": true,
  "content": {
    "message": "Diese Webseite benutzt Cookies um Seiteninhalte entsprechend der Wünsche der Benutzer darzustellen.",
    "dismiss": "Verstanden!",
    "link": "Mehr Informationen",
    "href": "nature40.org/privacy"
  }
})});
</script>